omegaconf
gradio==5.44.1
pykakasi==2.3.0
pyloudnorm
spacy-pkuseg
conformer
s3tokenizer
librosa
resemble-perth
huggingface_hub
safetensors==0.5.3
transformers==4.46.3
diffusers==0.29.0
einops
yt_dlp
ffmpeg-python
runpod
